*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:(#23810c );
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;

}
.cabecalhoImagem{
    width: 50%;
    padding: 1%;
    text-align: left;

}

body{
    background-color: rgb(43, 126, 18);
}
li{
   color:rgb(0, 0, 0); 
}
.cabecalhoListaItem{
    display: inline-block;
    margin: 0 38px;
    padding: 34px 0;
}
body {
    text-align: center;
}
.sobreTextoUm{
    display: inline-block;
    margin: 0%;
    padding: 1%;
    
}

.sobreTextoDois{
    display: inline-block;
    margin: 0%;
    padding: 1%;
}
h2{
    text-align: left;
}
.sobreTextoUm{
    text-align: left;
}
.sobreTextoDois{
    text-align:start;
}
.sobreImagem{
    width: 20%;
}
.sobre{
    background-image: linear-gradient(#23810c , #1fd30f);
    color: #000000;
    display: plex;
}


